.wrapper-padding{
padding: 1% 1% 1% 1% ;
}
.table-img{
	width:60px;
	height:auto;
}
.loading-icon{
	height: auto;
	width: 100px;
}
.imgPreview{
	border: none;
	height: 275px;
	width: 100%;
	object-fit:cover;
}

.imgShow{
	border: none !important;
	height: 175px;
	width: 100%;
	object-fit:cover;
}
